body {
  text-align: center;
}

td {
  height: 75px;
  width: 75px;
  border: 1px solid black;
  font-size: 40px;
  cursor: pointer;
}

#game_board {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#game_choices {
  margin: 20px;
}

.game_choice_box {
  height: 50px;
  width: 180px;
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  margin: 15px;
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
  background-color: azure;
}

.game_choice_box:hover {
  background-color: aliceblue;
}
